.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #a8dfce;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 1; /* Ensure footer stays above other elements */
}